.env
__pycache__/
*.pyc
.DS_Store
帳密.txt

# JetBrains IDE
.idea/

# Virtual environment
.venv/
venv/
env/

# dotenv files
.env.*

# Logs
*.log

# temp files
*.tmp
*.swp

# sqlite
*.sqlite3

# pip
pip-log.txt
